.contact-text {
    height: 30vh;
}

.contact-text h1 {
    margin-left: 5vw;
    font-weight: 300;
    font-size: 3vw;
    margin-bottom: 10vh;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin-left: 5vw;
}

.contact-form form input, textarea {
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 5vh;
    /* height: 10vh; */
    color: white;
    font-family: Metropolis;
    font-size: 2vw;
}

.contact-form input::placeholder {
    font-family: Metropolis;
}

.contact-form input[type=submit] {
    background-color: #DBFF00;
    width: 20%;
    height: 5vh;
    font-family: Baron Neue;
    border: none;
    color: black;
    padding-bottom: 5vh;
    border-radius: 15px;
    font-size: 2vw;
    border: 2px solid #DBFF00;
    transition: 0.3s;
}

.contact-form input[type=submit]:hover {
    background-color: black;
    color: #DBFF00;
}

textarea:focus, input:focus{
    outline: none;
}

.contact-form textarea {
    resize: none;
}