.contact-text h1 {
    margin-left: 5vw;
    font-weight: 300;
    font-size: 3vw;
    margin-bottom: 10vh;
}

#light .contact-text h1 {
    color: black;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin-left: 5vw;
    /* z-index: 100; */
    cursor: default;
}

.contact-form form input, .contact-form form textarea {
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 5vh;
    /* height: 10vh; */
    color: white;
    font-family: Metropolis;
    font-size: 2vw;
    z-index: 110;
}

#light .contact-form form input, #light .contact-form form textarea {
    background-color: white;
    border-bottom: 2px solid black;
    color: black;
}

.contact-form input::placeholder {
    font-family: Metropolis;
}

.contact-form input[type=submit] {
    background-color: #DBFF00;
    width: 20%;
    height: 5vh;
    font-family: Baron Neue;
    border: none;
    color: black;
    padding-bottom: 5vh;
    border-radius: 15px;
    font-size: 2vw;
    border: 2px solid #DBFF00;
    transition: 0.3s;
    z-index: 110;
    cursor: default;
}

#light .contact-form input[type=submit] {
    background-color: black;
    color: #DBFF00;
    border: 2px solid black;
}

.contact-form input[type=submit]:hover {
    background-color: black;
    color: #DBFF00;
}

#light .contact-form input[type=submit]:hover {
    background-color: #DBFF00;
    color: black;
    /* border: 2px solid #DBFF00; */
}

textarea:focus, input:focus{
    outline: none;
}

.contact-form textarea {
    resize: none;
}

@media only screen and (max-width: 800px) {
    .contact-text h1 {
        font-size: 10vw;
    }

    .contact-form form input, .contact-form form textarea {
        background-color: black;
        border: none;
        border-bottom: 2px solid white;
        margin-bottom: 5vh;
        /* height: 10vh; */
        color: white;
        font-family: Metropolis;
        font-size: 8vw;
        z-index: 110;
    }

    .contact-form form {
        max-width: 90vw;
        margin-left: 5vw;
    }

    .contact-form input[type=submit] {
        background-color: #DBFF00;
        width: 35%;
        height: 5vh;
        font-family: Baron Neue;
        border: none;
        color: black;
        padding-bottom: 5.8vh;
        border-radius: 15px;
        font-size: 8vw;
        border: 2px solid #DBFF00;
        transition: 0.3s;
        z-index: 110;
        cursor: default;
    }
}