.darkmode {
    border: 2px solid white;
    border-radius: 30px;
    height: 5vh;
    width: 5vw;
    margin: 0px auto;
    display: flex;
    margin-top: 20vh;
}

.sun {
    background-color: white;
}