.nav {
    width: 90vw;
    height: 10vh;
    background-color: #DBFF00;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    position: fixed;
    left: 5vw;
    top: 5vh;
    z-index: 99;
    border: 2px solid black;
}

.logo h1 {
    font-family: Metropolis Bold;
    color: black;
    font-size: 2.5vw;
}

.links a {
    font-family: Baron Neue;
    font-size: 1.5vw;
    margin: 0 20px;
}

.projects {
    color: black;
}

.contact {
    color: white;
    background-color: black;
    padding: 20px 20px;
    padding-top: 13px;
    border-radius: 30px;
    transition: 0.3s;
    border: 2px solid black;
}

.contact:hover {
    color: black;
    background-color: #DBFF00;
    border: 2px solid black;
}